.select-file {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 1em;
    border: dotted 2px black;
    cursor: pointer;
}

.mat-icon {
  font-size: 2.5em;
  height: auto;
}

.save {
  margin-top: 1em;
}

.upload-file {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filename {
  font-weight: bold;
}
